[user]
	name = Xabier Lahuerta Vázquez
	email = xabilahu99@hotmail.com
	signingkey = D07A7B38C698FC88A09500FFAE0136ADFD79039E
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

