[Desktop Entry]
Type=Application
Exec=/usr/bin/protonvpn-cli c -f
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=ProtonVPN Setup
Comment=Setup the ProtonVPN connection
